
body {
  background-color:#DCDCDC;
  color:black;
  font-family:MyUnderwood;
  font-weight: ;
  margin-top: 60px;
  text-align:center;
}

h1 {
  color: ;
  font-size: 50px;
  margin-top: 70px;
  text-align:center;
}

p {
  text-align:center;
}
li{
  margin-bottom: 10px;
  margin: 100px;
}
img{

}
