#love{
  position: absolute;
  font-size: 400px;
  color: red;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -300px;
  visibility: hidden;
  animation: letterspacing 8s;
  filter: blur(1.5rem);
  letter-spacing: 1rem;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
  }
  50% {
    filter: blur(0.5rem);
  }
  100% {
    letter-spacing: 1rem;
    filter: blur(1.5rem);
  }
}

#back {
  background-blend-mode: multiply;
  opacity: .2;
  overflow: hidden;
}

#box {
  width: 500px;
  height: 200px;
  background-color: white;
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  box-shadow: 20px 10px #e1e8f0;
  opacity: 0;
}
#video {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  visibility: hidden;
}
.smallbox {
  font-size: 30px;
  color:white;
  font-weight: bolder;
font-family: 'Inconsolata', monospace;
  opacity: 1;
width: 500px;
height: 50px;
text-align: center;
background-color: grey;
}

#word1 {
  font-size: 30px;
font-family: 'Inconsolata', monospace;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow: 5px 5px #e1e8f0;
}
#word1:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word1:active {
  background-color: #666666;
  text-decoration: underline #e1e8f0;
    font-weight: bold;
}
#word2 {
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word2:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word2:active {
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word3 {
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word3:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word3:active {
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word4 {
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  box-shadow:5px 5px  #e1e8f0;
}
#word4:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;

}
#word4:active {
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word5 {
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word5:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;

}
#word5:active {
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word6{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word6:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word6:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word7{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word7:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word7:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word8{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word8:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word8:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word9{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word9:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word9:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word10{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word10:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word10:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word11{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word11:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word11:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
#word12{
  font-size: 30px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color:white;
  justify-content: center;
  transition:background-color 0.2s;
  box-shadow:5px 5px  #e1e8f0;
}
#word12:hover {
  background-color: #e1e8f0;
  text-decoration: underline white;
  font-weight: bold;
  box-shadow:5px 5px  white;
}
#word12:active{
  background-color: #666666;
  text-decoration: underline #e1e8f0;
  font-weight: bold;
}
