body {background-color:red;
      text-align:center;
      font-family:TravelingTypewriter;
      margin-right: 20px;
}
h1{
  color:white;
  font-family:TravelingTypewriter;
  text-align:center;
  font-size: 300px;
  margin-top: 5px;
  text-decoration-line: line-through;
  -webkit-animation: fadi 10s 1;
}
@-webkit-keyframes fadi {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadi {
  0%   { opacity: 0; }
  100% { opacity: 1; }

}
