

body {

	background-color: #c8bdf8;

	font-family:"monotype corsiva",sans-serif}

h1 {color: #f3cbf8;


}

h1 {
	border: 2.5px dotted white;

	color: yellow;

	background-color: pink
	
	border-bottom-color: green;}

#header {color: #141a2a;
		font-family: "monotype corsiva"

}

.phone-number {
	font-weight: arial;
}


p{
	line-height:30px;
	letter-spacing: 13px;
	font-family: arial

}

li{ font-family: arial

 }

 a{font-family: arial}
