body{
  background-color: black;
}

h1{
  background-color: red;
  text-align: center;
  border:20px dotted white;
}

a{
  font-size:20px;
  color: white;
  font-family: sans-serif;
}
p {
  color: white;
  font-size: 30px;
}
ul {
  top: 170px;
  left: 30px;
  padding-left: 30px;
  position: relative;
}
video {
  opacity: 0.3;
}
#good{
  background-color: lightyellow;
}

#evil{
  background-color:lightgreen;
}

.na{
  font-family: fantasy;
}
.sa{
  font-family: Helvetica;
}
